body{
  background-color: #1e1e1e;
  
}

h1{
  text-align: center; 
  color: #ebdbb2;
  font-weight: bold;
} 

a:link {
  color: white; 
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

.uploadBut{
  opacity: 0.1;
}
.fileSel{
  text-align: center;
  color: #ebdbb2;
  font-weight: bold;
}
