body{
  background-color: #1e1e1e;
  color: #ebdbb2;
  text-align: center; 
}

.username{ 
  text-align: center; 
}
.pass{ 
  text-align: center; 
} 

#login{
  white-space: pre-line;
}

input,label{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

